@import "variable";
@import "fonts";

.test999{
  color: blue;
  text-transform: lowercase;
  height: 140px;

  display: flex;

  justify-content: center;
}

.test3{
  color: $black;
  text-transform: lowercase;
}
